# C++ 
**/.vs/
**/*.user
**/*.suo
**/*.db
**/*.opensdf
**/*.sdf
**/*.aps

**/x64/
**/x86/
**/Debug/
**/Release/
**/obj/
**/bin/

**/*.pch
**/*.pdb
**/*.ilk
**/*.tlog
**/*.idb
**/*.exp
**/*.lib
**/*.dll
**/*.exe

**/*.log
**/[Tt]humbs.db

# React + Electron + Typescript 
taskbar-ui/node_modules/
taskbar-ui/jspm_packages/
taskbar-ui/web_modules/

taskbar-ui/dist/
taskbar-ui/build/
taskbar-ui/out/
taskbar-ui/release/
taskbar-ui/.electron-builder-crashes/

taskbar-ui/npm-debug.log*
taskbar-ui/yarn-debug.log*
taskbar-ui/yarn-error.log*
taskbar-ui/pnpm-debug.log*
taskbar-ui/logs/

taskbar-ui/.env
taskbar-ui/.env.local
taskbar-ui/.env.development.local
taskbar-ui/.env.test.local
taskbar-ui/.env.production.local
taskbar-ui/.pnp/
taskbar-ui/.pnp.js

# System
.DS_Store
Thumbs.db
.vscode/
.idea/
*.ntvs*
*.njsproj
*.sln
*.swp